<!doctype html>
<html lang="de" ng-app="storypull">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Storypull</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link href="vendor/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="styles/main.css">
    <link rel="shortcut icon" href="http://assets.pudo.org/img/opennews-favicon.ico" type="image/x-icon" />
  </head>
  <body ng-controller="AppCtrl">
    <div class="navbar">
      <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Storypull.</a>
      </div>
      <div class="navbar-right">
        <p class="navbar-text" ng-show="logged_in">
          <i class="icon-twitter-sign"></i> Ohai, <span ng-bind="current_user.name"></span>
        </p>
        <p class="navbar-text" ng-hide="logged_in">
          <a href="/api/auth/twitter"><i class="icon-twitter-sign"></i> Sign in</a>
        </p>
      </div>
      </div>
    </div>
    <div class="container" ng-view>
    </div><!-- /.container -->

    <script id="story-list.html" type="text/ng-template">
      <ul ng-repeat="story in stories">
        <li><a ng-bind="story.title" ng-href="#/story/{{story.slug}}"></a></li>
      </ul>
    </script>

    <script id="story.html" type="text/ng-template">
      <div class="row">
        <div class="col-xs-7">
            <h1 ng-bind="story.title"></h1>
        </div>
        <div class="col-xs-5">
        </div>
      </div>

      <ul class="nav nav-tabs">
        <li ng-class="{active: !reviewMode}" ng-click="toggleReviewMode(false)">
          <a class="contributors">
            <img class="editor" width="30" height="30" ng-src="{{story.author_data.profile_image_url}}" />
            <div class="name">
              by  @<span ng-bind="story.author"></span>
              <span ng-show="story.contributors.length > 0">with</span>
            </div>

            <span class="contrib" ng-repeat="contributor in story.contributors">
              <img width="30" height="30" ng-src="{{contributor.profile_image_url}}" />
            </span>
            &nbsp;
          </a>
        </li>
        <li ng-class="{active: reviewMode}" class="view-all" ng-click="toggleReviewMode(true)"><a>VIEW ALL SUMISSIONS</a></li>
      </ul>

      <div ng-repeat="graf in story.grafs" class="container">
        <div ng-show="graf.editing" class="row" ng-class="{editing: true}">
          <div class="col-xs-7" >
            <span>
              <div class="article-body">
                <textarea type="text" ng-model="graf.text"></textarea>

                <div class="bottom">
                  <input type="checkbox" value="minorChange" ng-model="graf.minor" /> MINOR CHANGE
                  <input class="source" type="text" ng-model="graf.source" ng-hide="graf.minor" placeholder="Link to the source of your information" />
                </div>
              </div>
            </span>
          </div>
          <div class="col-xs-5">
            <a class="large-button" ng-click="update(graf)">Submit</a>
          </div>
        </div>

        <div ng-show="!graf.editing && ((reviewMode && !graf.approved) || graf.current)" class="row reading details-all">
          <div class="col-xs-7" ng-class="{approved: graf.approved, current: graf.current, contributed: reviewMode && graf.contributed}">
            <span ng-show="reviewMode && ((graf.current && graf.contributed) || !graf.approved)">
              <img width="20" height="20" ng-src="{{graf.author_data.profile_image_url}}" />
              <p ng-show="graf.approved" class="author">ACCEPTED EDIT by @<span ng-bind="graf.author"></span></p>
              <p ng-show="!graf.approved" class="author">PENDING EDIT by @<span ng-bind="graf.author"></span></p>
            </span>
            <p class='article-body' ng-bind="graf.text"></p>
          </div>
          <div class="col-xs-5">
            <a ng-show="reviewMode && isReviewer && !graf.approved"
              class="incorporate large-button" ng-click="approve(graf)">Incoporate Edit</a>

            <a ng-show="!reviewMode"
              class="context-info large-button" ng-click="graf.editing=true">Suggest an Edit</a>

            <div ng-show="!reviewMode && graf.contributed" class="no-context-info contrib-credit">
                <img width="30" height="30" ng-src="{{graf.author_data.profile_image_url}}" />
                <div class="credit">Improved by @<span ng-bind="graf.author"></span></div>
            </div>

          </div>
        </div>
      </div>
    </script>

  <script src="vendor/angular/angular.min.js"></script>
  <script src="js/main.js"></script>
  </body>
</html>