
[contenteditable="true"] {

    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    font: -moz-field;
    font: -webkit-small-control;
    margin-top: 5px;
    padding: 2px 3px;
    width: 398px;
}

body {
    font-family: 'Lato';
    font-weight: 300;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
}

.navbar-brand {
    c-olor: #333;
    text-transform: lowercase;
    font-weight: 700;
    color: rgb(250, 115, 0);
    font-size: 1.5em;
}

.navbar-right a {
    color: rgb(250, 115, 0);
}

.navbar-right a:hover {
    text-decoration: none;
    color: rgb(250, 115, 0);
}

#session-status {
    display: none;
}


.row .context-info {
    display: none;
}

.row:hover .context-info {
    display: block;
}

.row .no-context-info {
    display: block;
}

.row:hover .no-context-info {
    display: none;
}

.row.reading:hover, .editing {
    background-color: #eee;
}

p.article-body {
    font-size: 1.2em;
}

.large-button {
    height: 100%;
    width: 10em;
    padding: 1em;
    color: #333;
    text-transform: uppercase;
    background-color: #ddd;
}

.large-button:hover {
    text-decoration: none;
    background-color: #ccc;
    color: #333;
}