
body {
    font-family: 'Lato';
    font-weight: 300;
}

h1, h2, h3, h4, h5 {
    font-weight: 300;
}

p {
    padding: 0.3em 0.8em;
}


.navbar-brand {
    c-olor: #333;
    text-transform: lowercase;
    font-weight: 700;
    color: rgb(250, 115, 0);
    font-size: 1.5em;
}

.navbar-right a {
    color: rgb(250, 115, 0);
}

.navbar-right a:hover {
    text-decoration: none;
    color: rgb(250, 115, 0);
}

#session-status {
    display: none;
}

.reading {
    overflow: auto;
}

.row .context-info {
    display: none;
}

.row .col-xs-7 {
    padding-right: 3px;
}

.row .col-xs-5 {
    padding-left: 0;
    height: auto !important;
}

.row:hover .context-info {
    display: block;
}

.row .no-context-info {
    display: block;
}

.row .no-context-info a{
    display: block;
    height: auto !important;
}

.row:hover .no-context-info {
    display: none;
}

.editing span {
    display: block;
    padding: 0.3em 0.7em;
    margin: 0 0 10px;
}
.row.reading:hover p.article-body, .editing .article-body {
    background-color: #eee;
}

.editing {
    margin-bottom: 5px;
}

.editing .article-body {
    padding: 0.3em 0.7em;
}

.row.reading {
    min-height: 4em;
}

p.article-body {
    font-size: 1.2em;
}

.editing textarea {
    width: 100%;
    border: 1px solid #ddd;
    margin: 0.3em 0 0.3em 0;
    padding: 0.2em;

    font-family: 'Lato';
    font-weight: 300;
    min-height: 4em;
}

.large-button {
    height: 100%;
    width: 11em;
    padding: 1em;
    color: #333;
    text-transform: uppercase;
    background-color: #ddd;
    display: block;
}

.large-button:hover {
    text-decoration: none;
    background-color: #ccc;
    color: #333;
}

textarea {
    border-radius: 5px;
    border: 1px solid #eee;
    font-family: 'Lato' !important;
    font-weight: 300;
    width: 100%;
    font-size: 1.2em;
}

input[type='checkbox'] {
    text-transform: uppercase;
}

input.source {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 390px;

}